<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de usuario:</label>
          <input class="form-control" type="text" id="username" name="username" [(ngModel)]="usuario.userName" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <input class="form-control" type="password" id="password" name="password" [(ngModel)]="usuario.password" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>
